
@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>
<h3>@ViewBag.Greet</h3>
<h4>@ViewBag.RouteDetails</h4>
<br />
<br />
<h4>We are throwing a party as India won the TEST Series in SL.....</h4>
<h4>@Html.ActionLink("RSVP", "RSVPForm")</h4>


